* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.navigation,
.hero-section {
    background-color: #1f2937;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.navigation h4 {
    font-size: 24px;
    color: #f9faf8;
}

.navigation .right-links li {
    color: #e5e7eb;
    font-size: 18px;
}

.navigation ul {
    display: flex;
    flex: 1;
    list-style: none;
    gap: 20px;

}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.hero-content {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 150px;
}

.hero-image {
    flex: 1;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

/* Information */
.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.info {
    max-width: 200px;
}

.text {
    font-size: 15px;
    color: #1f2937;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    padding: 30px;
    color: #1f2937;
}

.information-container img {
    width: 200px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

/* Quote */
.quote-container {
    background-color: #e5e7eb;
    padding: 50px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quote {
    max-width: 750px;
}

.quote-container p {
    font-size: 24px;
    margin-bottom: 20px;
}

.author {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 50px;
}

/* Call to Action */
.call-to-action-container {
    padding: 50px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-text {
    color: white;
    text-align: left;
}

.call-to-action-text h3 {
    font-size: 24px;
    font-weight: 900;
}

.call-to-action-text p {
    font-size: 18px;
}

.call-to-action button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    width: 150px;
}