* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.navigation ul {
    display: flex;
    flex: 1;
    list-style: none;
    gap: 20px;

}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info {
    max-width: 200px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}

.container img {
    width: 100px;
    height: 100px;
}